body {
    margin: 10px 450px;
    padding: 40px 60px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.category {
    text-align: center;
    font-size: 12px;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
}

.author {
    text-align: center;
    font-size: 10px;
    color: #333;
    margin-bottom: 30px;
}

h3 {
    font-size: 15px;
    margin-top: 30px;
}

.list {
    color: rgb(0, 140, 255);
    font-size: 12px;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
}

p {
    font-size: 12px;
    line-height: 1.8;
    text-align: justify;
    color: #333;
}

.big {
    font-size: 24px;
    font-weight: 700;
}

.outer {
    margin: 0;
    text-align: left;
    font-size: 10px;
    color: #333;
}