* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.no1 {
  padding-top: 32px;
  height: 100vh; /* biar tingginya full selayar */
  background-color: white;
  display: flex; /* ngubah ukuran elemen jadi seukuran konten elemennya dan ga mentok selebar satu layar. Biar lebih gampang di-styling juga */
  flex-direction: column; /* karena elemennya seukuran konten, jadi mereka bakal jadi baris. Bukan kolom. Lewat command ini, mereka jadi kolom */
  align-items: center; /* Ini biar semua elemennya center */
}

.formarea {
  width: 40vw; /* ukuran input di form biar sesuai modul */
}

.title {
  text-align: center; 
  font-size: 24px;
  margin-bottom: 24px;
}

.inputarea {
  display: flex;
  flex-direction: column; 
  margin-bottom: 16px;
}

.inputarea .input-label {
  font-size: 12px;
  margin-bottom: 4px; /* buat ngatur jarak antara label sama input */
}

.radio-choice {
  font-size: 12px;
}

input,
textarea,
select {
  padding: 4px 2px;
  border: solid 1px lightgray;
  border-radius: 4px; /* biar bordernya agak rounded */
}

button {
  font-weight: 700; /* biar fontnya tebal */
  padding: 8px 12px; /* ngatur jarak antara teks dengan tepi tombol */
  background-color: rgb(0, 153, 255);
  color: white;
  border: none; 
  border-radius: 4px;
}

button:hover {
  font-weight: 700;
  background-color: rgb(0, 60, 255); /* buat ngubah warna tombol saat di-hover */
  color: white; /* buat ngubah warna teks tombol saat di-hover */
  transition: ease-in-out 0.4s; /* ngatur transisi biar animasi hovernya mulus */
  transform: translateY(-5px); /* ngubah lokasi berdasarkan sumbu y */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* ngasih shadow. Arti 0px dan seterusnya itu: 0px = posisi shadow berdasarkan sumbu x. 4px = posisi shadow berdasarkan sumbu y. 8px = seberapa blur shadow. rgba (red, green, blue, alpha (alpha adalah seberapa transparan)) */
}
