*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f6f6;
    padding: 40px;
}

.container {
    max-width: 400px;
    margin: auto;
}

.title {
    text-align: center;
}

.form-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
    padding: 5px;
}

.form-textarea textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.form-group label {
    display: flex;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.radio-group {
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 0px;
}

.btn-submit {
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 5px;
}
