* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

img {
    display: flex;
    margin: 20px 0;
    border-radius: 20px;
    justify-content: center;
}

ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

.alert-success{
    color: green;
    font-weight: bold;
}